@inherits BlazorBusyComponentBaseModel

@if (ApiConnect.Id == 0)
{
    <h3>Создание нового подключения (новый токен)</h3>
}
else
{
    <h3>Подключение (токен)</h3>
}

@if (IsBusyProgress)
{
    <MudProgressLinear Color="Color.Primary" Indeterminate="true" Class="my-3" />
}

<div class="my-3">
    <div class="input-group">
        <span class="input-group-text">API</span>
        <input type="text" aria-label="Name" class="form-control" placeholder="Name" @bind-value="Name" @bind-value:event="oninput">
        <input type="password" aria-label="Token" class="form-control" placeholder="Токен доступа" @bind-value="TokenAccess" @bind-value:event="oninput">
        <input type="text" aria-label="HeaderName" class="form-control" placeholder="Имя заголовка" @bind-value="HeaderName" @bind-value:event="oninput">
        <input type="text" aria-label="HOST API" class="form-control" placeholder="Адрес хоста API" @bind-value="AddressBaseUri" @bind-value:event="oninput">

        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            @if (CanSave)
            {
                <button @onclick="SaveToken" class="btn btn-outline-secondary" type="button">Сохранить</button>
                <button @onclick="ResetForm" class="btn btn-outline-warning" type="button">Сброс</button>
            }
            @if (ValidateForm)
            {
                <button @onclick="TestConnect" class="btn btn-outline-secondary" type="button">Проверить</button>
            }
        </div>
    </div>
</div>