@using BlazorWebLib.Components.Constructor.Shared.Projects
@inherits BlazorBusyComponentBaseAuthModel

<div class="vstack">
    <div class="p-2">
        <div class="hstack d-flex">
            <h4 class="me-auto">Ваши проекты</h4>
            <MudTooltip Text="Создать проект">
                <MudFab Disabled="IsBusyProgress" StartIcon="@Icons.Material.Filled.Add" Size="Size.Small" OnClick="CreateProject" />
            </MudTooltip>
        </div>
    </div>
    @if (IsBusyProgress)
    {
        <div class="text-center">
            <div class="spinner-border" role="status">
                <span class="visually-hidden">Загрузка...</span>
            </div>
        </div>
    }
    else if (ProjectsOfUser.Length == 0)
    {
        <figure class="text-center">
            <blockquote class="blockquote">
                <p>У вас нет ни одного проекта.</p>
            </blockquote>
            <figcaption class="blockquote-footer">
                Создайте свой первый <cite>проект</cite>
            </figcaption>
        </figure>
    }
    else
    {
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Наименование</th>
                    <th scope="col">Участники</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <CascadingValue Value="this">
                <tbody>
                    @foreach (ProjectViewModel pr in ProjectsOfUser)
                    {
                        <ProjectTableRowComponent ProjectRow="pr" />
                    }
                </tbody>
            </CascadingValue>
        </table>
    }
</div>