@page "/constructor"
@rendermode InteractiveServer

<PageTitle>Конструктор</PageTitle>

<h3>Конструктор</h3>

<MudTabs Outlined="true" Position="Position.Left" Rounded="true" Border="true" ApplyEffectsToContainer="true" Class="mt-8" PanelClass="pa-6">    
    <MudTabPanel Text="Проекты">
        <ProjectsComponent />
    </MudTabPanel>
    <MudTabPanel Text="Списки">
        <DirectoryViewComponent />
    </MudTabPanel>
    <MudTabPanel Text="Формы">
        <FormsViewComponent />
    </MudTabPanel>
    <MudTabPanel Text="Документы">
        <QuestionnairesViewComponent />
    </MudTabPanel>
    <MudTabPanel Text="Сессии">
        <SessionsViewComponent />
    </MudTabPanel>
</MudTabs>