@page "/constructor"
@rendermode InteractiveServer

<PageTitle>Формы</PageTitle>

<h3>Формы</h3>

<MudTabs dom-guid="8C8BE52D-2AA1-4465-9A19-685BD877F0D2" Outlined="true" Position="Position.Left" Rounded="true" Border="true" ApplyEffectsToContainer="true" Class="mt-8" PanelClass="pa-6">
    <MudTabPanel Text="Сессии">
        <SessionsViewComponent />
    </MudTabPanel>
    <MudTabPanel Text="Формы">
        <FormsViewComponent />
    </MudTabPanel>
    <MudTabPanel Text="Анкеты">
        <QuestionnairesViewComponent />
    </MudTabPanel>
    <MudTabPanel Text="Списки">
        <DirectoryViewComponent />
    </MudTabPanel>
</MudTabs>