@page "/questionnaire/session/protected/{QuestionnaireId:int}"

@rendermode @(new InteractiveServerRenderMode(prerender: false))
@inherits BlazorBusyComponentBaseModel

@attribute [Authorize]

<span>Опрос/анкета</span>

@if (IsBusyProgress)
{
    <div class="text-center">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Загрузка...</span>
        </div>
    </div>
}
else
{
    <CascadingValue Value="CurrentUser">
        <CascadingValue Value="SessionQuestionnaire">
            <CascadingValue Value="true">
                <DocumentClientViewComponent />
            </CascadingValue>
        </CascadingValue>
    </CascadingValue>
}