@page "/questionnaire/session/{QuestionnaireGuid:guid}"

@rendermode @(new InteractiveServerRenderMode(prerender: false))
@inherits BlazorBusyComponentBaseModel

<span>Опрос/анкета</span>

@if (IsBusyProgress || SessionQuestionnaire.Id < 1)
{
    <div class="text-center">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Загрузка...</span>
        </div>
    </div>
}
else
{
    <CascadingValue Value="Entries">
        <CascadingValue Value="SessionQuestionnaire">
            <CascadingValue Value="true">
                <QuestionnaireClientViewComponent />
            </CascadingValue>
        </CascadingValue>
    </CascadingValue>
}