@* @rendermode @(new InteractiveServerRenderMode(prerender: false)) *@

@using MudBlazor

@inherits BlazorBusyComponentBaseModel

<h3>DocumentEditComponent</h3>

@* <MudCheckBox  ValueChanged="BoolValueChanged"></MudCheckBox> *@
