@using MudBlazor

@inherits TTabOfDocumenBaseComponent

<div class="card">
    <div class="card-body">
        <CascadingValue Value="this">
            @foreach (FormFitModel form in TabMetadata.Forms)
            {
                <FormOfTabConstructorComponent SessionValues="@SessionValues.Where(x => x.TabJoinDocumentScheme!.FormId == 0).ToArray()" DocumentMetadata="DocumentMetadata" FormMetadata="form" TabMetadata="TabMetadata" ID="@TabMetadata.SystemName" />
            }
        </CascadingValue>
    </div>
</div>