@using BlazorWebLib.Components.Helpdesk
@using BlazorWebLib.Components.ParametersShared
@using BlazorWebLib.Components.Telegram
@using MudBlazor

@inherits BlazorBusyComponentBaseModel

<div class="card">
    <div class="card-body">
        <h5 class="card-title">TelegramBot</h5>
        <ul class="list-group list-group-flush">
            <li class="list-group-item my-2" title="В командном режиме бот будет обрабатывать только типовые TelegramBot команды начинающиеся на / и CallbackQuery запросы, а на простые текстовые сообщения отвечать не будет.">
                <BoolSimpleStorageComponent StorageMetadata="GlobalStaticConstants.CloudStorageMetadata.ParameterIsCommandModeTelegramBot" Title="Режим обработки TelegramBot входящих сообщений от пользователей" Label="Командный режим TelegramBot" HintTrue="Включён командный режим - простые текстовые сообщения игнорируются" HintFalse="Автоответчик - бот будет отвечать на все сообщения" />
            </li>
            <li class="list-group-item my-2">
                <h6 class="card-subtitle mb-2 text-body-secondary">Состояние службы</h6>
                <ErrorMessageTelegramBotComponent />
                <div class="form-text">
                    Если бота удалят, заблокируют в чате, тогда его попытки отправить туда сообщение будут завершаться ошибкой.
                </div>
            </li>
        </ul>
    </div>
</div>