@inherits LazySelectorComponent<UserInfoModel>

<div style="max-width: 350px;" class="input-group mb-3">
    <input placeholder="" readonly="" type="text" class="form-control">
    <button title="Установить" class="btn btn-outline-secondary bi bi-pencil" type="button"></button>
</div>