@using MudBlazor
@using System.Globalization

@inherits BlazorBusyComponentBaseModel

<h3>@(GlobalStaticConstants.RU.DateTimeFormat.GetDayName(Weekday))</h3>

<div class="row">
    <div class="col-sm-6 mb-3 mb-sm-0">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Начало периода:</h5>
                <MudTimePicker PickerVariant="PickerVariant.Static" Color="Color.Success" Rounded="true" Text="13:37" />
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Конец периода:</h5>
                <MudTimePicker PickerVariant="PickerVariant.Static" Color="Color.Secondary" Rounded="true" Text="13:37" />
            </div>
        </div>
    </div>
</div>