@page "/articles"

@using BlazorWebLib.Components.Articles
@using BlazorWebLib.Components.Helpdesk
@using MudBlazor

@rendermode @(new InteractiveServerRenderMode(prerender: false))
@attribute [Authorize]

<MudTabs Elevation="2" Rounded="true" ApplyEffectsToContainer="true" PanelClass="pa-2">
    <MudTabPanel Text="Статьи" Icon="@Icons.Material.Filled.Article">
        <ArticlesListComponent />
    </MudTabPanel>
    <MudTabPanel ToolTip="Категории статей" Text="Категории" Icon="@Icons.Material.Filled.Folder">
        <MudPaper Class="ma-2" Elevation="3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Категории</h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary">Категории статей</h6>
                    <RubricsManageComponent ContextName="@GlobalStaticConstants.Routes.ARTICLES_CONTROLLER_NAME" />
                </div>
            </div>
        </MudPaper>
    </MudTabPanel>
</MudTabs>