@page "/"
@inherits BlazorBusyComponentBaseAuthModel
@rendermode @(new InteractiveServerRenderMode(prerender: false))

@using BlazorWebLib.Components.Helpdesk.issue
@using MudBlazor

<PageTitle>Home</PageTitle>

@if (IsBusyProgress)
{
    <MudProgressLinear Color="Color.Primary" Indeterminate="true" Class="my-3" />
}
else
{
    @ms
}

@code {
    [Inject]
    ISerializeStorageRemoteTransmissionService StoreRepo { get; set; } = default!;


    MarkupString ms => (MarkupString)(_textValue ?? "<h1>Hello, world!</h1> Welcome to your new app.");

    string? _textValue;
    protected override async Task OnInitializedAsync()
    {
        await SetBusy();
        await ReadCurrentUser();

        TResponseModel<string?> res = string.IsNullOrWhiteSpace(CurrentUserSession?.Email)
        ? await StoreRepo.ReadParameter<string?>(GlobalStaticConstants.CloudStorageMetadata.HomePagePublic)
        : await StoreRepo.ReadParameter<string?>(GlobalStaticConstants.CloudStorageMetadata.HomePagePrivate);

        await SetBusy(false);
        SnackbarRepo.ShowMessagesResponse(res.Messages);
        _textValue = res.Response;
    }
}