@page "/web-app-tg/{TokenAccess}"
@layout WithoutMenuLayout
@rendermode @(new InteractiveServerRenderMode(prerender: false))
@attribute [AllowAnonymous]

<h3>Telegram WebApp page</h3>

@code {
    /// <summary>
    /// TokenAccess
    /// </summary>
    [Parameter]
    public string? TokenAccess { get; set; }
}
