@layout MainLayoutConstructor
@inherits LayoutComponentBase

<h1>Настройте свой аккаунт</h1>

<div>
    <h2>Редактирование настроек вашей учетной записи</h2>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <AccountManageNavMenu />
        </div>
        <div class="col-md-9">
            @Body
        </div>
    </div>
</div>