@using BlazorLib.Components.Shared.Layouts

@layout MainLayout
@inherits LayoutComponentBase

<h1>Пользователи</h1>

<div>
    <h2>Редактирование настроек учетных записей пользователей</h2>
    <hr />
    <div class="row row-cols-1 row-cols-md-2 g-1">
        <div class="col-md-2">
            <UsersManageNavMenu />
        </div>
        <div class="col-md-10">
            @Body
        </div>
    </div>
</div>