@inherits BlazorBusyComponentBaseModel

<button title="Найти введённые значения" @onclick="FindFields" type="button" class="btn btn-outline-info">
    @if (IsBusyProgress)
    {
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
    }
    Найти ссылки
</button>