<div class="card">
    <div class="card-body">
        <h5 class="card-title">Формы</h5>
        <h6 class="card-subtitle mb-2 text-body-secondary">пользовательский интерфейс</h6>

    </div>
</div>

@code {

}
