@inherits BlazorBusyComponentBaseModel

<h3>Генерация кода C#</h3>

<CascadingValue Value="this">
    <ConfigManufactureComponent MainProject="MainProject" />
    <EnumerationsManufactureComponent />
    <DocumentsManufactureComponent />
    <FormsManufactureComponent />
</CascadingValue>

@code {
    [Inject]
    IConstructorService ConstructorRepo { get; set; } = default!;

    [Inject]
    ISnackbar SnackbarRepo { get; set; } = default!;


    [Parameter, EditorRequired]
    public required MainProjectViewModel MainProject { get; set; }


    public ProjectConstructorModelDB CurrentProject { get; private set; } = default!;

    public async Task ReloadProjectData()
    {
        IsBusyProgress = true;
        ProjectConstructorModelDB? rest = await ConstructorRepo.ReadProject(MainProject.Id);
        IsBusyProgress = false;

        CurrentProject = rest ?? throw new Exception("Данные проекта не удалось получить");
    }

    protected override async Task OnInitializedAsync()
    {
        await ReloadProjectData();
    }
}