@inherits BlazorBusyComponentBaseModel

<div class="vstack gap-3">
    <div class="p-2"><h3>Генерация кода C#</h3></div>
    <CascadingValue Value="this">
        <MudTabs Elevation="2" Rounded="true" ApplyEffectsToContainer="true" PanelClass="pa-6">
            <MudTabPanel Text="Config">
                <ConfigManufactureComponent @ref="_conf" />
            </MudTabPanel>
            <MudTabPanel Text="Struct">
                <CascadingValue Value="@ParentFormsPage.SystemNamesManufacture">
                    <div class="p-2">
                        <EnumerationsManufactureComponent @ref="enumerations_ref" />
                    </div>
                    <div class="p-2">
                        <DocumentsManufactureComponent @ref="documents_ref" />
                    </div>
                </CascadingValue>
            </MudTabPanel>
        </MudTabs>
    </CascadingValue>

    <div class="d-grid gap-2">
        <button disabled="@(_errors.Any() || Manufacture is null)" @onclick="Download" class="btn btn-primary" type="button">Скачать C# .NET</button>
    </div>
    <ul class="list-group">
        @foreach (string e in _errors)
        {
            <li class="list-group-item list-group-item-danger">@e</li>
        }
        @if (downloadSource is not null)
        {
            foreach (ResultMessage e in downloadSource.Messages)
            {
                <li class="list-group-item list-group-item-warning">@e</li>
            }
        }
    </ul>
</div>