@inherits BlazorBusyComponentBaseModel

<div class="vstack gap-3">
    <div class="p-2"><h3>Генерация кода C#</h3></div>

    <CascadingValue Value="this">
        <div class="p-2">
            <ConfigManufactureComponent @ref="_conf" />
        </div>
        <div class="p-2">
            <CascadingValue Value="@ParentFormsPage.SystemNamesManufacture.Where(x => x.TypeDataName.StartsWith(DirectoryTypeName)).ToArray()">
                <EnumerationsManufactureComponent @ref="enumerations_ref" />
            </CascadingValue>
        </div>
        <div class="p-2">
            <CascadingValue Value="@ParentFormsPage.SystemNamesManufacture.Where(x => x.TypeDataName.StartsWith(DocumentSchemeConstructorTypeName)).ToArray()">
                <DocumentsManufactureComponent @ref="documents_ref" />
            </CascadingValue>
        </div>
    </CascadingValue>

    <div class="d-grid gap-2">
        <button disabled="@(_errors.Any())" @onclick="Download" class="btn btn-primary" type="button">Скачать C# .NET</button>
    </div>
    <ul class="list-group">
        @foreach (string e in _errors)
        {
            <li class="list-group-item list-group-item-danger">@e</li>
        }
    </ul>
</div>