@inherits BlazorBusyComponentBaseModel

<div class="vstack gap-3">
    <div class="p-2"><h3>Генерация кода C#</h3></div>

    <CascadingValue Value="this">
        <div class="p-2">
            <ConfigManufactureComponent @ref="_conf" />
        </div>
        <CascadingValue Value="@ParentFormsPage.SystemNamesManufacture">
            <div class="p-2">
                <EnumerationsManufactureComponent @ref="enumerations_ref" />
            </div>
            <div class="p-2">
                <DocumentsManufactureComponent @ref="documents_ref" />
            </div>
        </CascadingValue>
    </CascadingValue>

    <div class="d-grid gap-2">
        <button disabled="@(_errors.Any())" @onclick="Download" class="btn btn-primary" type="button">Скачать C# .NET</button>
    </div>
    <ul class="list-group">
        @foreach (string e in _errors)
        {
            <li class="list-group-item list-group-item-danger">@e</li>
        }
        @if (downloadSource is not null)
        {
            foreach (ResultMessage e in downloadSource.Messages)
            {
                <li class="list-group-item list-group-item-warning">@e</li>
            }
        }
    </ul>
</div>