@using SharedLib
@inherits BlazorBusyComponentBaseModel

<h3>Синхронизация папок</h3>

@if (IsBusyProgress)
{
    <MudProgressLinear Color="Color.Primary" Indeterminate="true" Class="my-3" />
}

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Удалённые команды</h5>
        <div class="input-group my-2">
            <span class="input-group-text">Новая команда:</span>
            <input @bind-value="@newCommand.FileName" @bind-value:event="oninput" type="text" aria-label="File Name" placeholder="FileName" class="form-control">
            <input @bind-value="@newCommand.Arguments" @bind-value:event="oninput" type="text" aria-label="Arguments" placeholder="Arguments" class="form-control">
            <button @onclick="AddNewCommand" disabled="@(string.IsNullOrEmpty(newCommand.FileName))" class="btn btn-outline-secondary" type="button" id="button-addon2">Создать</button>
        </div>

        @if (MauiProgram.ExeCommands.Response is not null)
        {
            int i = -1;
            foreach (ExeCommandModel rowCmd in MauiProgram.ExeCommands.Response)
            {
                i++;
                <RowCommandComponent @key="@($"r-{i}")" RowIndex="i" OwnerComponent="this" />
            }
        }
    </div>
</div>