@inherits BlazorBusyComponentBaseModel

<div @key="@($"r-{RowIndex}")" class="input-group mb-3">
    <span class="input-group-text" id="basic-addon1">cmd [@RowIndex]</span>
    <input type="text" class="form-control" aria-label="FileName" aria-describedby="FileName" value="@MauiProgram.ExeCommands.Response![RowIndex].FileName">
    <input type="text" class="form-control" aria-label="Arguments" aria-describedby="Arguments" value="@MauiProgram.ExeCommands.Response![RowIndex].Arguments">
    <button @onclick="async () => await RunCommand(RowIndex)" class="btn btn-outline-secondary" type="button" id="button-addon2">Выполнить</button>
    <button @onclick="() => DeleteCommand(RowIndex)" class="btn btn-outline-primary" type="button" id="button-addon2">Удалить</button>
</div>