@using MudBlazor

@inherits TTabOfDocumenBaseComponent

<div class="card">
    <div class="card-body">
        <CascadingValue Value="this">
            @{
                int i = -1;
            }
            @foreach (FormFitModel form in TabMetadata.Forms)
            {
                i++;
                FormConstructorModelDB form_c = TabOfDocumentSchemeConstructor.JoinsForms![i].Form!;
                List<ValueDataForSessionOfDocumentModelDB> _sv = [.. SessionValues.Where(x => x.TabJoinDocumentSchemeId == TabOfDocumentSchemeConstructor.Id && x.TabJoinDocumentScheme!.FormId == form_c.Id)];
                <CascadingValue Value="form">
                    <CascadingValue Value="form_c">
                        <CascadingValue Value="_sv">
                            @if (form.IsTable)
                            {
                                <TableFormOfTabConstructorComponent />
                            }
                            else
                            {
                                <FormOfTabConstructorComponent ID="@TabMetadata.SystemName" />
                            }
                        </CascadingValue>
                    </CascadingValue>
                </CascadingValue>
            }
        </CascadingValue>
    </div>
</div>