@using MudBlazor

@inherits TTabOfDocumenBaseComponent

<div class="card">
    <div class="card-body">
        <CascadingValue Value="this">
            @{
                int i = -1;
            }
            @foreach (FormFitModel form in TabMetadata.Forms)
            {
                i++;

                if (TabOfDocument.JoinsForms?.Count != TabMetadata.Forms.Length)
                    throw new Exception();

                FormConstructorModelDB form_c = TabOfDocument.JoinsForms![i].Form!;
                List<ValueDataForSessionOfDocumentModelDB> _sv = SessionValues is null ? [] : [.. SessionValues.Where(x => x.TabJoinDocumentSchemeId == TabOfDocument.Id && x.TabJoinDocumentScheme!.FormId == form_c.Id)];
                <CascadingValue Value="TabMetadata">
                    <CascadingValue Value="FormsStack">
                        <CascadingValue Value="form">
                            <CascadingValue Value="form_c">
                                <CascadingValue Value="_sv">
                                    @if (form.IsTable)
                                    {
                                        <TableFormOfTabConstructorComponent />
                                    }
                                    else
                                    {
                                        <FormOfTabConstructorComponent ID="@($"{TabMetadata.SystemName}-{form.SystemName}")" />
                                    }
                                </CascadingValue>
                            </CascadingValue>
                        </CascadingValue>
                    </CascadingValue>
                </CascadingValue>
            }
        </CascadingValue>
    </div>
</div>