@using MudBlazor
@inherits BlazorBusyComponentBaseModel

@foreach (TabAddressForOrderModelDb at in Document.AddressesTabs!)
{
    <div class="card mt-3">
        <div class="card-header">
            @(at.AddressOrganization!.Name)
        </div>
        <div class="card-body">
            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th scope="col">Наименование</th>
                        <th scope="col">Цена</th>
                        <th scope="col">Кол-во</th>
                        <th scope="col">Сумма</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (RowOfOrderDocumentModelDB row in at.Rows!)
                    {
                        <RowOfOrderDocumentComponent Row="row" />
                    }
                </tbody>
            </table>
        </div>
    </div>
}
<MudButton Class="mt-3" OnClick="OrderToCart" Variant="Variant.Filled" Color="Color.Primary" FullWidth="true">Скопировать заказ в корзину</MudButton>
@if (Issue.StepIssue == HelpdeskIssueStepsEnum.Created)
{
    <MudButton Class="mt-3" OnClick="OrderNull" Variant="Variant.Outlined" Color="Color.Secondary" FullWidth="true">Отмена заказа</MudButton>
}
@if (IsBusyProgress)
{
    <MudProgressLinear Color="Color.Secondary" Indeterminate="true" Class="my-7" />
}