[Unit]
Description=api.app.stage.service

[Service]
WorkingDirectory=/srv/services.stage/ApiRestService/
ExecStart=/usr/bin/dotnet /srv/services.stage/ApiRestService/ApiRestService.dll --urls "http://*:5055"
Restart=always
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=dotnet-api-app.stage
User=www-data
Environment=ASPNETCORE_ENVIRONMENT=Staging
Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=false
Environment=TransmissionQueueNamePrefix=_stage

[Install]
WantedBy=multi-user.target