[Unit]
Description=comm.app.stage.service

[Service]
WorkingDirectory=/srv/services.stage/CommerceService
ExecStart=/usr/bin/dotnet /srv/services.stage/CommerceService/CommerceService.dll
Restart=always
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=dotnet-comm-app.stage
User=www-data
Environment=ASPNETCORE_ENVIRONMENT=Staging
Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=false
Environment=TRANSMISSION_QUEUE_NAME_PREFIX=_stage

[Install]
WantedBy=multi-user.target