[Unit]
Description=web.app.service

[Service]
WorkingDirectory=/srv/services/ConstructorService
ExecStart=/usr/bin/dotnet /srv/services/ConstructorService/ConstructorService.dll
Restart=always
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=dotnet-constructor-app
User=www-data
Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=false

[Install]
WantedBy=multi-user.target