[Unit]
Description=web.app.service

[Service]
WorkingDirectory=/srv/services/BlankBlazorApp
ExecStart=/usr/bin/dotnet /srv/services/BlankBlazorApp/BlankBlazorApp.dll --urls "http://*:5005"
Restart=always
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=dotnet-web-app
User=www-data
Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=false

[Install]
WantedBy=multi-user.target