[Unit]
Description=web.app.stage.service

[Service]
WorkingDirectory=/srv/services.stage/BlankBlazorApp
ExecStart=/usr/bin/dotnet /srv/services.stage/BlankBlazorApp/BlankBlazorApp.dll --urls "http://*:5050"
Restart=always
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=dotnet-web-app.stage
User=www-data
Environment=ASPNETCORE_ENVIRONMENT=Staging
Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=false
Environment=TransmissionQueueNamePrefix=_stage

[Install]
WantedBy=multi-user.target