@inherits BlazorBusyComponentBaseModel

<div class="card d-flex flex-column flex-grow-1">
    <div class="card-header">
        <MudPaper Elevation="25">
            <MudToolBar>
                <DirectoryNavComponent SelectedDirectoryChangeHandler="SelectedDirectoryChangeAction" />
            </MudToolBar>
        </MudPaper>
    </div>
    <div class="card-body">
        @if (directoryNav_ref is not null)
        {
            <DirectoryElementsListViewComponent @ref="DirectoryElementsListView_ref" SelectedDirectoryId="@directoryNav_ref.SelectedDirectoryId" />
        }

    </div>
</div>