@inherits BlazorBusyComponentBaseModel

@if (IsEdit)
{
    <div class="input-group input-group-sm">
        <ElementDirectoryFieldEditComponent EditDoneAction="EditDoneHandle" />
        <button @onclick="() => { IsEdit = false; }" class="btn btn-outline-secondary" type="button" id="button-addon1">Отмена</button>
    </div>
}
else
{
    <div class="flex-grow-1">@ElementObject.Name</div>
    <span @onclick="() => { IsEdit = true; }" class="link-primary bi bi-pen me-2" title="Редактирование элемента"></span>
    <span @onclick="DeleteElementOfDirectory" class="link-primary bi bi-trash text-warning" title="Удаление элемента"></span>
}