@inherits BlazorBusyComponentBaseModel

<div @key="@($"{Form.Id}")" dom-guid="{}" class="card">
    <div class="card-header">
        <div class="row g-3 align-items-center">
            <div class="col-auto">
                <label for="inputName" class="col-form-label">Добавить поле</label>
            </div>
            <CascadingValue Value="AddingFieldStateHasChangedAction">
                <AddingFieldFormViewComponent @ref="field_creating_field_ref" FieldObject="_field_master" />
            </CascadingValue>
            @if (field_creating_field_ref?.SelectedTypeFieldForAdding > 0)
            {
                <div class="col-auto">
                    <div class="btn-group btn-group-sm" role="group" aria-label="...">
                        <button @onclick="() => field_creating_field_ref?.SetTypeField()" type="button" class="btn btn-outline-secondary">Отмена</button>
                        <button @onclick="CreateField" disabled="@(!CanSave)" type="button" class="btn btn-outline-primary">Добавить</button>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="card-body">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th scope="col">Имя</th>
                    <th scope="col">Тип</th>
                    <th scope="col">Информация</th>
                </tr>
            </thead>
            <tbody>
                @foreach (ConstructorFieldFormBaseLowModel fo in Form.AllFields)
                {
                    <FieldFormRowViewComponent @key="@($"{Form.Id}/{fo.GetType().Name}-{fo.Id}")" ReloadFieldsHandler="ReloadFields" Field="fo" />
                }
            </tbody>
        </table>
    </div>
</div>

<div class="card mt-4">
    <div class="card-body">
        <h5 class="card-title">Demo</h5>
        <h6 class="card-subtitle mb-2 text-muted">Как это увидит клиент</h6>
        <div class="card">
            <div class="card-body">
                <ClientStandardViewFormComponent @ref="client_standard_ref" />
            </div>
        </div>
    </div>
</div>