<div class="col-auto">
    <div class="form-check mt-2">
        <input disabled="@(!string.IsNullOrWhiteSpace(FieldParameter))" @bind="IsMultiline" class="form-check-input" type="checkbox" id="gridCheck">
        <label class="form-check-label" for="gridCheck">
            Многострочный
        </label>
    </div>
</div>

<div class="col-auto">
    <input disabled="@IsMultiline" @bind-value="FieldParameter" @bind-value:event="oninput" type="text" placeholder="опция: маска, шаблон" id="inputMask" class="form-control" aria-describedby="maskHelpInline">
</div>