@inherits BlazorBusyComponentBaseModel

<label class="form-label">@Label</label>
<InputRichTextComponent @bind-Value="TextValue" @ref="_currentTemplateInputRichText_ref" ReadOnly="IsBusyProgress" />
@if (!string.IsNullOrWhiteSpace(HelperText))
{
    <div class="form-text">@HelperText</div>
}