@using MudBlazor

@inherits StringParameterStorageBaseComponent

<div class="hstack gap-3">
    <MudTextField InputType="@(IsPassword ? InputType.Password : InputType.Text)" HelperText="@HelperText" @bind-Value="TextValue" Immediate Label="@Label" Variant="Variant.Outlined"></MudTextField>
    @if (IsBusyProgress)
    {
        <div class="spinner-grow" role="status">
            <span class="visually-hidden">Загрузка...</span>
        </div>
    }
</div>

@code {
    [Parameter]
    public bool IsPassword { get; set; }
}