@using MudBlazor

@inherits BlazorBusyComponentBaseModel

<div class="hstack gap-3">
    <MudTextField HelperText="@HelperText" @bind-Value="TextValue" Immediate Label="@Label" Variant="Variant.Outlined"></MudTextField>
    @if (IsBusyProgress)
    {
        <div class="spinner-grow" role="status">
            <span class="visually-hidden">Загрузка...</span>
        </div>
    }
</div>