@inherits BlazorBusyComponentBaseModel

@if (IsEdited)
{
    <span class="input-group-text" id="inputGroup-sizing-sm">Новое имя элемента</span>
}
<input @bind-value="orign_name" @bind-value:event="oninput" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
@if (IsEdited)
{
    <button @onclick="() => { orign_name = ElementObject.Name; }" class="btn btn-outline-primary" type="button" id="button-addon1">Сброс</button>
    <button @onclick="UpdateElementOfDirectory" class="btn btn-outline-success" type="button" id="button-addon1">Сохранить</button>
}