@page "/issue-card/{Id:int}"

@using BlazorWebLib.Components.Helpdesk.issue
@using MudBlazor

@inherits BlazorBusyComponentBaseModel

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-9 d-flex">
            <div class="vstack gap-3">
                <div><IssueBodyComponent /></div>
                <div><IssueMessagesComponent /></div>
            </div>
        </div>
        <div class="col-sm-3"><IssuePanelComponent /></div>
    </div>
</div>