@page "/issue-card/{Id:int}"

@using BlazorWebLib.Components.Helpdesk.issue
@using MudBlazor

@rendermode @(new InteractiveServerRenderMode(prerender: false))
@attribute [Authorize]
@inherits BlazorBusyComponentBaseModel

<CascadingValue Value="CurrentUser">
    <div class="container-fluid">
        <div class="row">
            @if (IssueSource is null)
            {
                <figure class="text-center">
                    <blockquote class="blockquote">
                        <p>Обращение не найдено.</p>
                    </blockquote>
                    <figcaption class="blockquote-footer">
                        Либо недостаточно прав на просмотр этого документа
                    </figcaption>
                </figure>
            }
            else
            {
                <CascadingValue Value="CanEdit">
                    <CascadingValue Value="IssueSource">
                        <CascadingValue Value="UsersIdentityDump">
                            <CascadingValue Value="CurrentUser">
                                <div class="col-sm-9">
                                    <div class="vstack gap-3">
                                        <div><IssueBodyComponent /></div>
                                        <div><IssueMessagesComponent /></div>
                                    </div>
                                </div>
                                <div class="col-sm-3"><IssuePanelComponent /></div>
                            </CascadingValue>
                        </CascadingValue>
                    </CascadingValue>
                </CascadingValue>
            }
        </div>
    </div>
</CascadingValue>