@page "/Account/Manage/DeletePersonalData"
@attribute [Authorize]
@inject IdentityRedirectManager RedirectManager
@inject IUsersProfilesService UsersProfilesRepo
@inject IUsersAuthenticateService UserAuthRepo
@inherits BlazorBusyComponentBaseAuthModel

<PageTitle>Удалить персональные данные</PageTitle>

<StatusMessage Messages="@Messages" />

<h3>Удалить персональные данные</h3>

<div class="alert alert-warning" role="alert">
    <p>
        <strong>Удаление этих данных приведет к безвозвратному удалению вашей учетной записи, и ее невозможно будет восстановить.</strong>
    </p>
</div>

<div>
    <EditForm Model="Input" FormName="delete-user" OnValidSubmit="OnValidSubmitAsync" method="post">
        <DataAnnotationsValidator />
        <ValidationSummary class="text-danger" role="alert" />
        @if (requirePassword)
        {
            <div class="form-floating mb-3">
                <InputText type="password" @bind-Value="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="Пожалуйста введите ваш пароль." />
                <label for="password" class="form-label">Пароль</label>
                <ValidationMessage For="() => Input.Password" class="text-danger" />
            </div>
        }
        <button class="w-100 btn btn-lg btn-danger" type="submit">Удалить данные и закрыть мою учетную запись</button>
    </EditForm>
</div>