@page "/Account/Manage/EnableAuthenticator"

@using System.Text.Encodings.Web
@using System.Net.Mail
@using System.Text
@using System.Globalization

@inherits BlazorBusyComponentBaseAuthModel

@inject UrlEncoder UrlEncoder
@inject IdentityRedirectManager RedirectManager
@inject IUsersProfilesService UsersProfilesRepo

<PageTitle>Настроить приложение для аутентификации</PageTitle>

@if (recoveryCodes is not null)
{
    <ShowRecoveryCodes RecoveryCodes="recoveryCodes.ToArray()" StatusMessage="@message" />
}
else
{
    <StatusMessage Messages="@Messages" />
    <h3>Настроить приложение для аутентификации</h3>
    <div>
        <p>Чтобы использовать приложение для аутентификации, выполните следующие действия:</p>
        <ol class="list">
            <li>
                <p>
                    Загрузите приложение двухфакторной аутентификации, например Microsoft Authenticator, для
                    <a href="https://go.microsoft.com/fwlink/?Linkid=825072">Android</a> и
                    <a href="https://go.microsoft.com/fwlink/?Linkid=825073">iOS</a> или
                    Google Authenticator для
                    <a href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2&amp;hl=en">Android</a> и
                    <a href="https://itunes.apple.com/us/app/google-authenticator/id388497605?mt=8">iOS</a>.
                </p>
            </li>
            <li>
                <p>Отсканируйте QR-код или введите этот ключ <kbd>@sharedKey</kbd> в приложение двухфакторной аутентификации. Пробелы и регистр не имеют значения.</p>
                <div class="alert alert-info">Узнайте, как <a href="https://go.microsoft.com/fwlink/?Linkid=852423">включить генерацию QR-кода</a>.</div>
                <div></div>
                <div data-url="@authenticatorUri"></div>
            </li>
            <li>
                <p>
                    После того, как вы отсканируете QR-код или введете указанный выше ключ, ваше приложение двухфакторной аутентификации предоставит вам
                    с уникальным кодом. Введите код в поле подтверждения ниже.
                </p>
                <div class="row">
                    <div class="col-md-6">
                        <EditForm Model="Input" FormName="send-code" OnValidSubmit="OnValidSubmitAsync" method="post">
                            <DataAnnotationsValidator />
                            <div class="form-floating mb-3">
                                <InputText @bind-Value="Input.Code" class="form-control" autocomplete="off" placeholder="Пожалуйста, введите код." />
                                <label for="code" class="control-label form-label">Проверочный код</label>
                                <ValidationMessage For="() => Input.Code" class="text-danger" />
                            </div>
                            <button type="submit" class="w-100 btn btn-lg btn-primary">Проверить</button>
                            <ValidationSummary class="text-danger" role="alert" />
                        </EditForm>
                    </div>
                </div>
            </li>
        </ol>
    </div>
}