@page "/Account/Manage/ResetAuthenticator"
@attribute [Authorize]
@inject IdentityRedirectManager RedirectManager
@inject IUsersProfilesService UsersProfilesRepo

<PageTitle>Сброс ключа аутентификации</PageTitle>

<StatusMessage Messages="@Messages" />
<h3>Сброс ключа аутентификации</h3>
<div class="alert alert-warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>Если вы сбросите ключ аутентификатора, ваше приложение аутентификатора не будет работать, пока вы не переконфигурируете его.</strong>
    </p>
    <p>
        Этот процесс отключает 2FA, пока вы не подтвердите свое приложение для проверки подлинности.
        Если вы не завершите настройку приложения для аутентификации, вы можете потерять доступ к своей учетной записи.
    </p>
</div>
<div>
    <form @formname="reset-authenticator" @onsubmit="OnSubmitAsync" method="post">
        <AntiforgeryToken />
        <button class="btn btn-danger" type="submit">Сбросить ключ аутентификации</button>
    </form>
</div>

@code {
    List<ResultMessage>? Messages;

    private async Task OnSubmitAsync()
    {
        ResponseBaseModel rest = await UsersProfilesRepo.SetTwoFactorEnabled(false);
        Messages = rest.Messages;
        Messages.Add(new() { TypeMessage = ResultTypesEnum.Warning, Text = "Ключ вашего приложения для аутентификации был сброшен, вам нужно будет настроить приложение для аутентификации, используя новый ключ." });
    }
}