@page "/Account/Manage/Telegram"
@attribute [Authorize(Roles = GlobalStaticConstants.Roles.Admin)]

@inject ITelegramRemoteTransmissionService TelegramRemoteRepo
@inject IUsersProfilesService UsersManageRepo
@inject NavigationManager navManager

@inherits BlazorBusyComponentBaseModel

@rendermode @(new InteractiveServerRenderMode(prerender: false))

<PageTitle>Telegram</PageTitle>
<h3>Telegram</h3>
<StatusMessage Messages="@Messages" />
@if (IsBusyProgress)
{
    <div class="text-center">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Загрузка...</span>
        </div>
    </div>
}
else
{
    <div class="row">
        <p>Сервис TelegramBot: @(string.IsNullOrWhiteSpace(telegram_username) ? "не отвечает" : $"@{telegram_username}")</p>
        @if (!string.IsNullOrWhiteSpace(telegram_username))
        {
            <TelegramJoinComponent TelegramBotUsername="@telegram_username" />
        }
    </div>
}

@code {
    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    List<ResultMessage> Messages = [];
    string? telegram_username;

    protected override void OnInitialized()
    {
        IsBusyProgress = true;
        _ = Task.Run(async () =>
        {
            TResponseModel<string?> telegram_rest = await TelegramRemoteRepo.GetBotUsername();
            await InvokeAsync(() =>
            {
                if (!telegram_rest.Success())
                    Messages.AddRange(telegram_rest.Messages);

                telegram_username = telegram_rest.Response;
                IsBusyProgress = false;
                StateHasChanged();
            });
        });
    }
}