@page "/Account/Manage"

@inject IdentityRedirectManager RedirectManager
@inject IUsersProfilesService UsersProfilesRepo

<PageTitle>Профиль</PageTitle>
<h3>Профиль</h3>
<StatusMessage Messages="@Messages" />
<div class="row">
    <div class="col-md-6">
        <EditForm Model="InputPhone" FormName="profile" OnValidSubmit="OnValidSubmitAsync" method="post">
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert" />
            <div class="form-floating mb-3">
                <input type="text" value="@username" id="username" class="form-control" placeholder="Пожалуйста, введите ваш логин." disabled />
                <label for="username" class="form-label">Имя пользователя</label>
            </div>

            <div class="form-floating mb-3">
                <input type="text" @bind="@firstName" id="first-name" class="form-control" placeholder="FirstName" />
                <label for="first-name" class="form-label">FirstName</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" @bind="lastName" id="last-name" class="form-control" placeholder="LastName" />
                <label for="last-name" class="form-label">LastName</label>
            </div>

            <div class="form-floating mb-3">
                <InputText @bind-Value="InputPhone.PhoneNumber" class="form-control" placeholder="Пожалуйста введите ваш номер телефона." />
                <label for="phone-number" class="form-label">Номер телефона</label>
                <ValidationMessage For="() => InputPhone.PhoneNumber" class="text-danger" />
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Сохранить</button>
        </EditForm>
    </div>
</div>

@code {
    [Inject]
    AuthenticationStateProvider authRepo { get; set; } = default!;

    [SupplyParameterFromForm]
    private PhoneSingleModel InputPhone { get; set; } = new();

    UserInfoMainModel? user;

    string? username;
    string? phoneNumber;
    string? firstName;
    string? lastName;

    List<ResultMessage> Messages = [];

    protected override async Task OnInitializedAsync()
    {
        AuthenticationState state = await authRepo.GetAuthenticationStateAsync();
        user = state.User.ReadCurrentUserInfo();

        TResponseModel<string?> username_rest = await UsersProfilesRepo.GetUserNameAsync();
        Messages.AddRange(username_rest.Messages);
        username = username_rest.Response;

        TResponseModel<string?> phone_number_rest = await UsersProfilesRepo.GetPhoneNumberAsync();
        Messages.AddRange(phone_number_rest.Messages);
        phoneNumber = phone_number_rest.Response;

        InputPhone.PhoneNumber ??= phoneNumber;
    }

    private async Task OnValidSubmitAsync()
    {
        Messages = [];
        ResponseBaseModel rest;
        if (InputPhone.PhoneNumber != phoneNumber)
        {
            rest = await UsersProfilesRepo.SetPhoneNumberAsync(InputPhone.PhoneNumber);
            Messages = rest.Messages;
            if (!rest.Success())
            {
                Messages.Add(new() { TypeMessage = ResultTypesEnum.Error, Text = "Ошибка: Не удалось установить номер телефона." });
                return;
            }
        }



        rest = await UsersProfilesRepo.RefreshSignInAsync();
        Messages.AddRange(rest.Messages);
        Messages.Add(new() { TypeMessage = ResultTypesEnum.Info, Text = "Ваш профиль был обновлен" });
    }
}