@attribute [Authorize]
@inherits IssueWrapBaseModel

<div class="card">
    <div class="card-body p-3">
        <h6 class="card-title mb-2 text-body-secondary">Информация</h6>
        <dl class="row">
            <dt>Автор</dt>
            <dd>@Author?.Email</dd>

            <dt>Исполнитель</dt>
            <dd>
                <ExecutorIssueComponent />
            </dd>

            <dt>Создан:</dt>
            <dd>@Issue.CreatedAt</dd>

            <dt>Обновлён:</dt>
            <dd>@Issue.LastUpdateAt</dd>
        </dl>
    </div>
</div>