@inherits IssueWrapBaseModel

<div class="input-group mb-3">
    <input value="@(Executor?.Email ?? base.Issue.ExecutorIdentityUserId)" readonly type="text" class="form-control">
    <button title="Назначить меня" class="btn btn-outline-secondary bi bi-person-raised-hand" type="button"></button>
    <button title="Установить" class="btn btn-outline-secondary bi bi-pencil" type="button"></button>
</div>

@code {
    UserInfoModel? Executor;

    protected override void OnInitialized()
    {
        Executor = UsersIdentityDump?.FirstOrDefault(x => x.UserId == base.Issue.ExecutorIdentityUserId);
    }
}