@using MudBlazor
@using System.Net.Mail
@inherits IssueWrapBaseModel

@if (IsBusyProgress)
{
    <MudProgressCircular Indeterminate="true" />
}
else
{
    <div class="input-group mb-3">
        <input placeholder="@(IsEditMode ? "Email исполнителя" : "")" @bind-value="editExecutorEmail" @bind-value:event="oninput" readonly="@(!IsEditMode)" type="text" class="form-control">
        <AuthorizeView Roles="@($"{GlobalStaticConstants.Roles.HelpDeskTelegramBotManager},{GlobalStaticConstants.Roles.HelpDeskTelegramBotUnit}")">
            <Authorized>
                @if (IsEditMode)
                {
                    bool is_email = MailAddress.TryCreate(editExecutorEmail, out _);
                    if (string.IsNullOrWhiteSpace(Issue.ExecutorIdentityUserId))
                    {
                        if (is_email)
                        {
                            <button @onclick="SetNewExecutor" title="Назначить исполнителя" class="btn btn-outline-success bi bi-person-fill-check" type="button"></button>
                        }
                    }
                    else
                    {
                        @if (string.IsNullOrWhiteSpace(editExecutorEmail) || is_email)
                        {
                            <button @onclick="SetNewExecutor" title="@(string.IsNullOrWhiteSpace(editExecutorEmail) ? "Открепить" : "Назначить") исполнителя" class="btn btn-outline-@(string.IsNullOrWhiteSpace(editExecutorEmail) ? "warning" : "success") bi bi-person-@(string.IsNullOrWhiteSpace(editExecutorEmail) ? "x-fill" : "fill-check")" type="button"></button>
                        }
                    }
                    <button @onclick="EditModeToggle" title="Отмена" class="btn btn-outline-secondary bi bi-x-circle" type="button"></button>
                }
                else
                {
                    if (CurrentUser.UserId != Issue.ExecutorIdentityUserId)
                    {
                        <button @onclick="SetMeAsExecutor" title="Назначить меня" class="btn btn-outline-secondary bi bi-person-raised-hand" type="button"></button>
                    }
                    <button @onclick="EditModeToggle" title="Установить" class="btn btn-outline-secondary bi bi-pencil" type="button"></button>
                }
            </Authorized>
        </AuthorizeView>
    </div>
}