@inherits BlazorBusyComponentBaseModel
@attribute [Authorize]

<div class="vstack gap-3">
    <div class="px-1"><SubscribersIssueComponent /></div>
    <div class="px-1"><AboutIssueComponent /></div>
</div>