@inherits IssueWrapBaseModel
@attribute [Authorize]

<div class="vstack gap-3">
    <div class="px-1">
        <CascadingValue Value="@(CurrentUserSession!.IsAdmin)">
            <StatusIssueComponent />
        </CascadingValue>
    </div>
    <AuthorizeView Roles="@($"{string.Join(",",GlobalStaticConstants.Roles.AllHelpDeskRoles)},{GlobalStaticConstants.Roles.Admin}")">
        <Authorized>
            <div class="px-1"><SubscribersIssueComponent /></div>
        </Authorized>
    </AuthorizeView>
    <div class="px-1"><AboutIssueComponent /></div>
</div>