@using MudBlazor
@inherits IssueWrapBaseModel
@attribute [Authorize]

<div class="card">
    <div class="card-body p-3">
        <div class="hstack">
            <h6 class="card-title mb-2 text-body-secondary">
                Подписчики
            </h6>
            <MudSpacer />
            @if (CanSubscribe)
            {
                <i title="Подписаться на события в данном диалоге" style="cursor:pointer;" class="bi bi-envelope-plus-fill"> Подписаться</i>
            }
            else
            {
                <i title="Отписаться от уведомлений в этом диалоге" style="cursor:pointer;" class="bi bi-envelope-x-fill"> Подписаться</i>
            }
        </div>

        <ul class="list-group list-group-flush">
            @if (Issue.Subscribers is null || Issue.Subscribers.Count == 0)
            {
                <li class="list-group-item p-1 m-0">ни кто не наблюдает</li>
            }
            else
            {
                foreach (SubscriberIssueHelpdeskModelDB p in Issue.Subscribers)
                {
                    <li class="list-group-item p-1 m-0">@(UsersIdentityDump?.FirstOrDefault(x => x.UserId == p.UserId)?.UserName ?? p.UserId)</li>
                }
            }
        </ul>
    </div>
</div>