@attribute [Authorize]
@inherits IssueWrapBaseModel

<div class="offcanvas offcanvas-start show" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasExampleLabel">@Author.UserName</h5>
        <button @onclick="CloseAction" type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div>
            Карточка клиента
        </div>
    </div>
</div>
<div @onclick="CloseAction" class="offcanvas-backdrop fade show"></div>