@using Microsoft.AspNetCore.Components.Routing
@using SharedLib

@inject IUsersProfilesService UsersProfilesRepo

<ul class="nav nav-pills flex-column">
    <li class="nav-item">
        <NavLink class="nav-link" href="Account/Manage" Match="NavLinkMatch.All">Профиль</NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="Account/Manage/Email">Email</NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="Account/Manage/ChangePassword">Пароль</NavLink>
    </li>
    @* <li class="nav-item">
        <NavLink class="nav-link" href="Account/Manage/PersonalData">Личные данные</NavLink>
    </li> *@
    <li class="nav-item">
        <NavLink class="nav-link" href="Account/Manage/Telegram">Telegram</NavLink>
    </li>
</ul>