@page "/order-document/{DocumentId}"
@page "/order-document"

@inherits BlazorBusyComponentBaseModel

@rendermode @(new InteractiveServerRenderMode(prerender: false))
@attribute [Authorize]

<h3>Заказ</h3>
@if (!DocumentId.HasValue)
{
    <span>Данные отсутсвуют</span>
}
else
{
    <OrderDocumentComponent DocumentId="DocumentId.Value" />
}