@page "/organizations-for-user/{UserId}"
@page "/organizations-for-user"

@using MudBlazor

@inherits BlazorBusyComponentBaseModel

@rendermode @(new InteractiveServerRenderMode(prerender: false))
@attribute [Authorize]

<div class="d-grid gap-2 mb-2">
    <a class="btn btn-primary" href="/organization-edit/0" role="button">Создать</a>
</div>

<OrganizationsTableComponent UserId="@UserId" />