@page "/organizations/edit/{OrganizationId:int}"

@using BlazorWebLib.Components.Commerce.Organizations
@using MudBlazor

@inherits BlazorBusyComponentBaseModel

@rendermode @(new InteractiveServerRenderMode(prerender: false))
@attribute [Authorize]

<h4>Карточка организации</h4>
<OrganizationEditComponent OrganizationId="OrganizationId" />