@page "/organizations/{UserId}"
@page "/organizations"

@using MudBlazor

@inherits BlazorBusyComponentBaseModel

@rendermode @(new InteractiveServerRenderMode(prerender: false))
@attribute [Authorize]

<OrganizationsTableComponent UserId="@UserId" />

<div class="d-grid gap-2 mt-2">
    <a class="btn btn-outline-success" href="/organizations/edit/0" role="button">Создать</a>
</div>