@using MudBlazor

@inherits BlazorBusyComponentBaseAuthModel

<MudPaper Class="pa-4 mt-3">
    @if (CurrentUserSession!.IsAdmin)
    {
        <MudStack Spacing="2" Class="pb-2">
            <MudButton OnClick="OnExpandCollapseClick" Variant="Variant.Outlined">@(_expanded ? "Отмена" : "Создать")</MudButton>
            <MudCollapse Expanded="_expanded">
                <NomenclatureCreatingFormComponent ContextName="@GlobalStaticConstants.Routes.ATTENDANCES_CONTROLLER_NAME" NomenclatureCreatingHandler="CreateNomenclatureAction" />
            </MudCollapse>
        </MudStack>
    }
    <MudTable Loading="IsBusyProgress" ServerData="ServerReload" @ref="tableRef" Dense="true" Hover="true">
        <ToolBarContent>
            <MudText Typo="Typo.h6">Услуги</MudText>
            <MudSpacer />
        </ToolBarContent>
        <HeaderContent>
            <MudTh>Имя</MudTh>
            <MudTh>Ед.изм.</MudTh>
            <MudTh></MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="Имя">
                <a href="/nomenclature/card/@context.Id/@OffersListModesEnum.Attendances">@context.Name</a>
            </MudTd>
            <MudTd DataLabel="Ед.изм.">@context.BaseUnit.DescriptionInfo()</MudTd>
            <MudTd>
                ~
            </MudTd>
        </RowTemplate>
        <NoRecordsContent>
            <MudText>Данные отсутствуют</MudText>
        </NoRecordsContent>
        <LoadingContent>
            <MudText>Загрузка...</MudText>
        </LoadingContent>
        <PagerContent>
            <MudTablePager />
        </PagerContent>
    </MudTable>
</MudPaper>