@using MudBlazor

@inherits BlazorBusyComponentBaseModel

<div class="hstack gap-3 mb-2">
    @* <div><h3>@(GlobalStaticConstants.RU.DateTimeFormat.GetDayName(Weekday))</h3></div> *@
    <div class="mx-auto"></div>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-2">
        @if (IsExpandAdding)
        {
            <MudTimePicker Label="Начало:" PickerVariant="PickerVariant.Dialog" Color="Color.Success" Rounded="true" Text="09:00" />
            <MudTimePicker Class="me-2" Label="Конец:" PickerVariant="PickerVariant.Dialog" Color="Color.Secondary" Rounded="true" Text="18:00" />
            <MudFab StartIcon="@Icons.Material.Filled.Cancel" title="Отмена" OnClick="()=> IsExpandAdding = !IsExpandAdding" />
            <MudFab Color="Color.Warning" StartIcon="@Icons.Material.Filled.Save" title="Сохранить" OnClick="Save" />
        }
        else
        {
            <MudFab Color="Color.Tertiary" StartIcon="@Icons.Material.Filled.Add" title="Добавить период" OnClick="()=> IsExpandAdding = !IsExpandAdding" />
        }
    </div>
</div>