@using MudBlazor

@inherits BlazorBusyComponentBaseModel

<div class="card my-2">
    <div class="card-body">
        <div class="hstack">
            <h5 class="card-title d-none d-md-block d-lg-block d-xl-block d-xxl-block">
                Календарь
                @if (IsBusyProgress)
                {
                    <sup class="spinner-grow spinner-grow-sm text-primary"></sup>
                }
            </h5>
            <div class="mx-auto"></div>
            <WorkCalendarAddDateComponent WorkCalendarAddDateHandle="WorkCalendarReloadDateAction" />
        </div>
        <h6 class="card-subtitle mb-2 text-body-secondary">Установка графика работы на конкретные даты.</h6>
        <p class="card-text">Праздничные дни (или другие особые даты) можно внести в календарь. В такие дни базовый график работы будет переопределён персональным:</p>

        @foreach (IGrouping<DateOnly, CalendarScheduleModelDB> gel in worksSchedulesCalendars.OrderBy(x => x.DateScheduleCalendar).GroupBy(x => x.DateScheduleCalendar))
        {
            <ul class="list-group list-group mb-2" @key="gel.Key">
                @foreach (CalendarScheduleModelDB el in gel.OrderBy(x => x.StartPart).ThenByDescending(x => x.Name))
                {
                    <WorkCalendarElementComponent WorkScheduleCalendar="el" @key="el.Id" WorkCalendarReloadDateHandler="WorkCalendarReloadDateAction" />
                }
            </ul>
        }

        <div class="d-flex flex-column align-center">
            <MudPagination Size="Size.Small" BoundaryCount="boundaryCount" MiddleCount="middleCount" Count="countPages" @bind-Selected="@selectedPage" Class="mt-4" />
        </div>
    </div>
</div>