@using MudBlazor

@inherits BlazorBusyComponentBaseModel

<div class="d-flex justify-content-end">
    @if (IsExpanded)
    {
        <MudDatePicker Label="Дата" PickerVariant="PickerVariant.Dialog" Editable="true" @bind-Date="_date" Placeholder="Укажите дату" MinDate="DateTime.Today" />
        <MudTimePicker Label="Начало:" PickerVariant="PickerVariant.Dialog" Color="Color.Success" Rounded="true" @bind-Time="StartPart" Class="mx-1" />
        <MudTimePicker Label="Конец:" PickerVariant="PickerVariant.Dialog" Color="Color.Secondary" Rounded="true" @bind-Time="EndPart" Class="me-2" />

        <MudButtonGroup Class="ms-2">
            <MudIconButton Disabled="_date is null || EndPart is null || StartPart is null" OnClick="Save" Icon="@Icons.Material.Filled.Save" aria-label="add date work schedule" title="Добавить дату в календарь" Variant="Variant.Outlined" Color="Color.Primary" />
            <MudIconButton OnClick="() => IsExpanded = false" Icon="@Icons.Material.Filled.CancelPresentation" aria-label="Отмена" title="Отмена" Variant="Variant.Outlined" Color="Color.Primary" />
        </MudButtonGroup>
    }
    else
    {
        <MudIconButton OnClick="() => IsExpanded = true" Icon="@Icons.Material.Filled.PlaylistAdd" aria-label="add date work schedule" title="Добавить дату в календарь" Variant="Variant.Outlined" Color="Color.Primary" />
    }
</div>