@inherits BlazorBusyComponentBaseModel

@using BlazorWebLib.Components.Telegram
@using MudBlazor

<style>
    .chat-selector-input li {
        cursor: pointer;
    }
</style>

@if (IsBusyProgress)
{
    <MudProgressLinear Color="Color.Primary" Indeterminate="true" Class="my-7" />
}

<div class="card my-2">
    <div class="card-body" style="@(heightCard > 0 ?  $"min-height:{(int)heightCard}px;" : "")">
        <h5 class="card-title">@Title</h5>
        @if (!string.IsNullOrWhiteSpace(Subtitle))
        {
            <h6 class="card-subtitle mb-2 text-body-secondary">@Subtitle</h6>
        }
        <ChatSelectInputComponent NullableAllow="true" SelectedChat="initValue"  SelectHandleAction="SelectChatHandler" SetHeightCard="SetHeightCard" />
        @if (!string.IsNullOrWhiteSpace(Hint))
        {
            <footer style="padding-top: 5px;" class="blockquote-footer">@Hint</footer>
        }
    </div>
</div>