<div class="text-primary-emphasis">

    @if (Message.Audio is not null)
    {
        <i class="bi bi-cassette"></i>
    }
    @if (Message.Document is not null)
    {
        <i class="bi bi-file-arrow-down"></i>
    }
    @if (Message.Photo is not null && Message.Photo.Count != 0)
    {
        if (Message.Photo.Count == 1)
        {
            <i class="bi bi-file-image"></i>
        }
        else
        {
            <i class="bi bi-images"></i>
        }
    }
    @if (Message.Voice is not null)
    {
        <i class="bi bi-voicemail"></i>
    }
    @if (Message.Video is not null)
    {
        <i class="bi bi-camera-reels"></i>
    }
</div>

@code {
    [Parameter, EditorRequired]
    public required MessageTelegramModelDB Message { get; set; }
}
