@page "/Account/ForgotPasswordConfirmation"

<PageTitle>Восстановление забытого пароля</PageTitle>

<h1>Восстановление забытого пароля</h1>
<p>
    Пожалуйста, проверьте свою электронную почту, чтобы сбросить пароль.
</p>
