@page "/Account/InvalidUser"

<PageTitle>Недействительный пользователь</PageTitle>

<h3>Недействительный пользователь</h3>

<StatusMessage Messages="@([new ResultMessage(){ TypeMessage = ResultTypesEnum.Error, Text = "Недействительный пользователь"}])" />