@page "/Account/ResetPasswordConfirmation"

<PageTitle>Подтверждение сброса пароля</PageTitle>

<h1>Подтверждение сброса пароля</h1>
<p>
    Ваш пароль был сброшен. Пожалуйста, <a href="Account/Login">нажмите здесь, чтобы войти</a>.
</p>