@inherits FieldBaseComponentModel

<InputCheckbox @bind-Value="CheckBoxValue" class="form-check-input" id="@Id" />
<label class="form-label">@Label</label>
<div class="form-text">
    @Hint
</div>

@code {
    [Parameter]
    public bool IsChecked { get; set; }

    [Parameter]
    public EventCallback<bool> IsCheckedChanged { get; set; }

    public bool CheckBoxValue
    {
        get => IsChecked;
        set
        {
            IsChecked = value;
            IsCheckedChanged.InvokeAsync(IsChecked);
        }
    }
}