@page "/Users/Roles/view-{RoleId:guid}"
@attribute [Authorize(Roles = "admin")]

@inject IUsersProfilesService UsersProfilesRepo

<PageTitle>Роль</PageTitle>

<h3>Роль</h3>

<div class="row">
    <div class="col">
        <UsersPage OwnerRoleId="@RoleId.ToString()" />
    </div>
    <div class="col">
        <ClaimsManageComponent ClaimArea="ClaimAreasEnum.ForRole" OwnerId="@RoleId.ToString()" />
    </div>
</div>

@code {
    [Parameter]
    public Guid RoleId { get; set; }
}