@using BlazorWebLib.Components.Telegram

<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">Переадресация Telegram сообщений</h5>
        <h6 class="card-subtitle mb-2 text-body-secondary">Для клиентов, на которых ни кто не подписан</h6>
        <ChatSelectInputComponent />
    </div>
</div>

@code {
    [Inject]
    ISerializeStorageRemoteTransmissionService StorageRepo { get; set; } = default!;
}