@using BlazorWebLib.Components.Telegram

<div class="card">
    <div class="card-body">
        <h5 class="card-title">TelegramBot</h5>
        <ul class="list-group list-group-flush">
            <li class="list-group-item my-2">
                <h6 class="card-subtitle mb-2 text-body-secondary">Маршрутизация входящих сообщений</h6>
                <ChatSelectComponent Title="Переадресация Telegram сообщений для клиента"
                                     KeyStorage="GlobalStaticConstants.CloudStorageMetadata.HelpdeskNotificationsTelegramForUser(Chat.ChatTelegramId)"
                                     Hint="Правило для всех входящих сообщений в бота, которые будут поступать от клиента. Команды и CallbackQuery не переадресовываются!" />
            </li>
            <li class="list-group-item my-2">
                <h6 class="card-subtitle mb-2 text-body-secondary">Состояние службы</h6>
                <ErrorMessageTelegramBotComponent ChatId="Chat.ChatTelegramId" />
                <div class="form-text">
                    Если бота удалят, заблокируют в чате, тогда его попытки отправить туда сообщение будут завершаться ошибкой.
                </div>
            </li>
        </ul>
    </div>
</div>

@code {
    [Parameter, EditorRequired]
    public required ChatTelegramModelDB Chat { get; set; }
}