<h4>Консоль</h4>

<div class="container-fluid">
    <!-- Stack the columns on mobile by making one full-width and the other half-width -->
    <div class="row">
        <div class="d-flex justify-content-between"><button type="button" class="btn btn-outline-primary">Primary</button><button type="button" class="btn btn-outline-primary">Primary</button></div>
        <div class="col-12 col-md-2">col-12 col-md-2</div>
        <div class="col-12 col-md-2">col-12 col-md-2</div>
        <div class="col-12 col-md-2">col-12 col-md-2</div>
        <div class="col-12 col-md-2">col-12 col-md-2</div>
        <div class="col-12 col-md-2">col-12 col-md-2</div>
        <div class="col-12 col-md-2">col-12 col-md-2</div>
    </div>
</div>

@code {

}
