@using BlazorWebLib.Components.ParametersShared
@using BlazorWebLib.Components.Commerce
@using BlazorLib.Components
@using BlazorLib
@using MudBlazor
@using SharedLib

<MudTabs Elevation="2" Rounded="true" ApplyEffectsToContainer="true" PanelClass="pa-2">
    <MudTabPanel Text="Home">
        <StringParameterStorageComponent Label="Заголовок" HelperText="Текст в левом верхнем углу" KeyStorage="GlobalStaticConstants.CloudStorageMetadata.TitleMain" />
        <hr />
        <TinyMCEComponent Label="Home PUBLIC" HelperText="Публичная страница для НЕ авторизованных пользователей" KeyStorage="GlobalStaticConstants.CloudStorageMetadata.HomePagePublic" />
        <hr />
        <TinyMCEComponent Label="Home PRIVATE" HelperText="Страница для авторизованных пользователей" KeyStorage="GlobalStaticConstants.CloudStorageMetadata.HomePagePrivate" />
    </MudTabPanel>
    <MudTabPanel Text="Другое">
        <ul class="list-group list-group-flush">
            <li class="list-group-item my-2">
                <div class="row row-cols-1 row-cols-md-2 g-1">
                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                                <RubricParameterStorageComponent Label="Рубрика для заказа" HelperText="Автоматическое назначение рубрики при создании заказа" KeyStorage="GlobalStaticConstants.CloudStorageMetadata.RubricIssueForCreateOrder" />
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                                <RubricParameterStorageComponent Label="Рубрика для брони" HelperText="Автоматическое назначение рубрики при записи на услугу/бронь" KeyStorage="GlobalStaticConstants.CloudStorageMetadata.RubricIssueForCreateAttendanceOrder" />
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="list-group-item my-2">
                <h6 class="card-subtitle mb-2 text-body-secondary">wappi</h6>
                <div class="vstack gap-3">
                    <StringParameterStorageComponent IsPassword="true" Label="Токен API" HelperText="https://wappi.pro/dashboard" KeyStorage="GlobalStaticConstants.CloudStorageMetadata.WappiTokenApi" />
                    <hr />
                    <StringParameterStorageComponent Label="ID профиля" HelperText="https://wappi.pro/dashboard" KeyStorage="GlobalStaticConstants.CloudStorageMetadata.WappiProfileId" />
                </div>
                <div class="form-text">
                    <a href="https://wappi.pro/">wappi.pro</a> настройки
                </div>
            </li>
        </ul>
    </MudTabPanel>
</MudTabs>