@using BlazorWebLib.Components.ParametersShared
@using BlazorWebLib.Components.Commerce
@using BlazorLib.Components
@using BlazorLib
@using MudBlazor
@using SharedLib

@inherits BlazorBusyComponentBaseModel

<MudTabs Elevation="2" Rounded="true" ApplyEffectsToContainer="true" PanelClass="pa-6">
    <MudTabPanel Text="Home">
        <StringParameterStorageComponent Label="Заголовок" HelperText="Текст в левом верхнем углу" KeyStorage="GlobalStaticConstants.CloudStorageMetadata.TitleMain" />
        <hr />
        <TinyMCEComponent Label="Home PUBLIC" HelperText="Публичная страница для НЕ авторизованных пользователей" KeyStorage="GlobalStaticConstants.CloudStorageMetadata.HomePagePublic" />
        <hr />
        <TinyMCEComponent Label="Home PRIVATE" HelperText="Страница для авторизованных пользователей" KeyStorage="GlobalStaticConstants.CloudStorageMetadata.HomePagePrivate" />
    </MudTabPanel>
    <MudTabPanel Text="Другое">
        <ul class="list-group list-group-flush">
            <li class="list-group-item my-2">
                <h6 class="card-subtitle mb-2 text-body-secondary">Рубрика заказа</h6>
                <div class="vstack gap-3">
                    <CascadingValue Value="RubricSelectAction">
                        <CascadingValue Value="RubricMetadataShadow">
                            <RubricSelectorComponent @ref="ref_rubric" Title="" ModeSelectingRubrics="ModesSelectRubricsEnum.AllowWithoutRubric" ShowDisabledRubrics="true" StartRubric="_rubricIssueForCreateOrder" />
                        </CascadingValue>
                    </CascadingValue>
                </div>
                <div class="form-text">
                    Автоматическое назначение рубрики
                </div>
            </li>
            <li class="list-group-item my-2">
                <h6 class="card-subtitle mb-2 text-body-secondary">wappi</h6>
                <div class="vstack gap-3">
                    <StringParameterStorageComponent IsPassword="true" Label="Токен API" HelperText="https://wappi.pro/dashboard" KeyStorage="GlobalStaticConstants.CloudStorageMetadata.WappiTokenApi" />
                    <hr />
                    <StringParameterStorageComponent Label="ID профиля" HelperText="https://wappi.pro/dashboard" KeyStorage="GlobalStaticConstants.CloudStorageMetadata.WappiProfileId" />
                </div>
                <div class="form-text">
                    <a href="https://wappi.pro/">wappi.pro</a> настройки
                </div>
            </li>
        </ul>
    </MudTabPanel>
</MudTabs>