@using BlazorWebLib.Components.ParametersShared
@using BlazorWebLib.Components.Commerce
@using BlazorLib.Components
@using BlazorLib
@using MudBlazor
@using SharedLib

@inherits BlazorBusyComponentBaseModel

<MudTabs Elevation="2" Rounded="true" ApplyEffectsToContainer="true" PanelClass="pa-6">
    <MudTabPanel Text="Home">
        <StringParameterStorageComponent Label="Заголовок" HelperText="Текст в левом верхнем углу" KeyStorage="GlobalStaticConstants.CloudStorageMetadata.TitleMain" />
        <hr />
        <TinyMCEComponent Label="Home PUBLIC" HelperText="Публичная страница для НЕ авторизованных пользователей" KeyStorage="GlobalStaticConstants.CloudStorageMetadata.HomePagePublic" />
        <hr />
        <TinyMCEComponent Label="Home PRIVATE" HelperText="Страница для авторизованных пользователей" KeyStorage="GlobalStaticConstants.CloudStorageMetadata.HomePagePrivate" />
    </MudTabPanel>
    <MudTabPanel Text="Отображение">
        <ul class="list-group list-group-flush">
            <li class="list-group-item my-2">
                <BoolSimpleStorageComponent StorageMetadata="GlobalStaticConstants.CloudStorageMetadata.ShowCreatingIssue" Title="Ручное создание обращений-заявок в СЭД" Label="Создание заявок" HintTrue="Кнопка создания обращения активна" HintFalse="Ручное создание обращений отключено" />
            </li>
            <li class="list-group-item my-2">
                <BoolSimpleStorageComponent StorageMetadata="GlobalStaticConstants.CloudStorageMetadata.ShowingTelegramArea" Title="Отображение TG чатов в заявке" Label="TG чаты в заявках" HintTrue="В заявке будет отображаться диалог связанных TG чатов" HintFalse="Чаты TG не отображаются в заявках" />
            </li>
            <li class="list-group-item my-2">
                <BoolSimpleStorageComponent StorageMetadata="GlobalStaticConstants.CloudStorageMetadata.ShowingPriceSelectorOrder" Title="Отображение цены в селекторе номенклатуры в создании заказа" Label="Цены при выборе номенклатуры в заказе" HintTrue="В заказе будет отображаться диалог прикрепления файлов" HintFalse="Вложения для заказов отключены" />
            </li>
            <li class="list-group-item my-2">
                <BoolSimpleStorageComponent StorageMetadata="GlobalStaticConstants.CloudStorageMetadata.ShowingAttachmentsOrderArea" Title="Отображение панели вложений в заявках" Label="Вложения в заказах" HintTrue="В заказе будет отображаться диалог прикрепления файлов" HintFalse="Вложения для заказов отключены" />
            </li>
            <li class="list-group-item my-2">
                <BoolSimpleStorageComponent StorageMetadata="GlobalStaticConstants.CloudStorageMetadata.ShowingAttachmentsIssuesArea" Title="Отображение панели вложений в обращениях" Label="Вложения в обращениях" HintTrue="В заявке будет отображаться диалог прикрепления файлов" HintFalse="Вложения для заявок отключены" />
            </li>
        </ul>
    </MudTabPanel>
    <MudTabPanel Text="Другое">
        <ul class="list-group list-group-flush">
            <li class="list-group-item my-2">
                <h6 class="card-subtitle mb-2 text-body-secondary">Рубрика заказа</h6>
                <div class="vstack gap-3">
                    <CascadingValue Value="RubricSelectAction">
                        <CascadingValue Value="RubricMetadataShadow">
                            <RubricSelectorComponent @ref="ref_rubric" Title="" ModeSelectingRubrics="ModesSelectRubricsEnum.AllowWithoutRubric" ShowDisabledRubrics="true" StartRubric="_rubricIssueForCreateOrder" />
                        </CascadingValue>
                    </CascadingValue>
                </div>
                <div class="form-text">
                    Автоматическое назначение рубрики
                </div>
            </li>
            <li class="list-group-item my-2">
                <h6 class="card-subtitle mb-2 text-body-secondary">wappi</h6>
                <div class="vstack gap-3">
                    <StringParameterStorageComponent IsPassword="true" Label="Токен API" HelperText="https://wappi.pro/dashboard" KeyStorage="GlobalStaticConstants.CloudStorageMetadata.WappiTokenApi" />
                    <hr />
                    <StringParameterStorageComponent Label="ID профиля" HelperText="https://wappi.pro/dashboard" KeyStorage="GlobalStaticConstants.CloudStorageMetadata.WappiProfileId" />
                </div>
                <div class="form-text">
                    <a href="https://wappi.pro/">wappi.pro</a> настройки
                </div>
            </li>
        </ul>
    </MudTabPanel>
</MudTabs>