@using MudBlazor
@inherits BlazorBusyComponentBaseModel

@rendermode @(new InteractiveServerRenderMode(prerender: false))

<div class="container-fluid">
    <div class="row">
        <RubricsParametersComponent />
    </div>
</div>