@inherits BlazorBusyComponentBaseModel

@using MudBlazor
<div class="input-group">
    <span class="input-group-text">Новая номенклатура</span>
    <input @bind-value="CreatingGoodsName" @bind-value:event="oninput" type="text" aria-label="First name" class="form-control">
    <select @bind="UMeas" class="form-select">
        @foreach (UnitsOfMeasurementEnum uom in Enum.GetValues(typeof(UnitsOfMeasurementEnum)).Cast<UnitsOfMeasurementEnum>())
        {
            <option value="@uom">@uom.DescriptionInfo()</option>
        }
    </select>
    <button @onclick="CreateNewGoods" disabled="@(!CanSave)" class="btn btn-outline-secondary" type="button" id="button-addon2">Создать</button>
</div>