@inherits BlazorBusyComponentBaseModel

<sup @onclick="() => IsExpandPanel = !IsExpandPanel" title="правила ценообразования" class="bi bi-calculator text-primary"></sup>

@if (IsExpandPanel)
{
    <div class="offcanvas offcanvas-end show" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasRightLabel">Ценообразование</h5>
            <button @onclick="() => IsExpandPanel = !IsExpandPanel" type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            ...
        </div>
    </div>
    <div @onclick="() => IsExpandPanel = !IsExpandPanel" class="offcanvas-backdrop fade show"></div>
}

@code {
    [Parameter, EditorRequired]
    public required OfferGoodModelDB OfferGood { get; set; }


    bool IsExpandPanel;
}