@page "/constructor-m"

@attribute [Authorize]

@inherits BlazorBusyComponentBaseModel
@rendermode @(new InteractiveServerRenderMode(prerender: false))
<PageTitle>Конструктор</PageTitle>
<h3>
    Конструктор
    @* <MudTooltip>
        <ChildContent>
            <sup class="@(MainProject is null ? "text-secondary" : "text-primary-emphasis")">
                @if (MainProject is null)
                {
                    <text>[проект не выбран]</text>
                }
                else
                {
                    <text>"@MainProject.Name"</text>
                }
            </sup>
        </ChildContent>
        <TooltipContent>
            @if (MainProject is null)
            {
                <p>не выбран <b>текущий/основной</b> проект контекста конструктора</p>
            }
            else
            {
                <p>
                    конструктор работает в контексте основного/текущего проекта
                    @if (!string.IsNullOrWhiteSpace(MainProject.Description))
                    {
                        @((MarkupString)MainProject.Description)
                    }
                </p>
            }
        </TooltipContent>
    </MudTooltip> *@
</h3>
