@page "/Account/AccessDenied"

<PageTitle>Доступ запрещён</PageTitle>

<header>
    <h1 class="text-danger">Доступ запрещён</h1>
    <p class="text-danger">У вас нет доступа к данному ресурсу.</p>
</header>
