@page "/Account/ConfirmEmailChange"

<PageTitle>Подтвердить изменение адреса электронной почты</PageTitle>

<h1>Подтвердить изменение адреса электронной почты</h1>
<StatusMessage Messages="@Messages" />