@page "/Account/ForgotPassword"

<PageTitle>Забыли пароль?</PageTitle>

<h1>Забыли пароль?</h1>
<StatusMessage Messages="@Messages" />
<h2>Введите адрес электронной почты.</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm Model="Input" FormName="forgot-password" OnValidSubmit="OnValidSubmitAsync" method="post">
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert" />

            <div class="form-floating mb-3">
                <InputText @bind-Value="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label for="email" class="form-label">Email</label>
                <ValidationMessage For="() => Input.Email" class="text-danger" />
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Сброс пароля</button>
            <p class="text-warning">Обращаем внимание, что письмо с восстановлением пароля может прийти в спам !</p>
        </EditForm>
    </div>
</div>