@inherits BlazorBusyComponentBaseModel

@if (IsBusyProgress)
{
    <div class="text-center">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Загрузка...</span>
        </div>
    </div>
}
else
{
    <select @bind="SelectedDirectoryField" class="form-select" id="inputGroupSelect01">
        <option value="0" selected disabled="@(SelectedDirectoryField > 0)">Выбор справочника...</option>
        @foreach (SystemEntryModel e in Entries)
        {
            <option value="@e.Id">
                @e.Name
            </option>
        }
    </select>
}